doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Pokemon App
  link(rel='stylesheet' href='styles.css')
h1 Pokemon Team Builder
form.searchForm
  label(for='name') Gotta catch &apos;em all!
  input#name(type='text' name='name' placeholder='Pokemon Name')
  button(type='submit') Search
ul(id='Pokemon List')
script(src='../JS/script.js')
